<!doctype html>
<html>
  <head>
    <title>Hoogle</title>
    <link rel="icon" href="static/assets/favicon.png">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand">
  </head>
  <body>
    <center>
      <img alt="hoogle" src="static/assets/hoogle trspt.png" class="hoogle">
      <form action="/search" method="POST">
        <div>
          <input class="searchBar" type="text" name="address" autocomplete="off" placeholder="Search Hoogle or type a address">
        </div>
      </form>
    </center>
  </body>
</html>
